# web-techbody{
	background-color: #e1f9bb;
}

.wall{ 
	position: relative;
	width: 400px;
	height: 500px;
	background-color: #FFDAB9;
	left: 300px;
	top: 150px;
	box-shadow: 9px -3px 15px 4px black
}
.roof{ 
	position: relative;
	border-bottom: 90px solid #090321;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 420px;
	top: -435px;
	left: 240px;
}
.door{ 
	position: relative;
	width: 90px;
	height:150px;
	background-color: #343c72;
	top: -100px;
	left: 500px;
	border: 1px solid black;

}
.door_handle{ 
	position: relative;
	width: 10px;
	height: 10px;
	background: #090321;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	top: -170px;
	left: 570px;
}
.window_1{
	position: relative;
	width: 90px;
	height: 90px;
	background-color: #B0E0E6;
	left: 341px;
	top: -333px;
	border: 5px groove #343c72;
}
.window_2{
	position: relative;
	width: 90px;
	height: 90px;
	background-color: #B0E0E6;
	left: 341px;
	top: -623px;
	border: 5px groove #343c72;
}
.window_3{
	position: relative;
	width: 90px;
	height: 140px;
	background-color: #B0E0E6;
	left: 528px;
	top: -725px;
	border: 5px groove #343c72;
}
.balcony{
	position: relative;
	width: 190px;
	height: 50px;
	background-color: rgb(25, 18, 51, 0.4);
	left: 478px;
	top: -796px;
	border-top: 20px outset #191233;
	border-bottom: 40px outset #191233;
	border-left: 10px outset #191233;
	border-right: 10px outset #191233;
}
